<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>机器异常窗口</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=gb2312">
<meta name=date content="08 21, 2003 12:19:18 PM">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=1728>
<meta name=layout-width content=776>


<!--(Links)=========================================================-->

<link REL="StyleSheet" HREF="..\..\styles.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Machine Off-Limit window 机器异常窗口<a NAME=Top></a></h1>

<p>机器异常报表以两个窗口组成。上面区段显示，至少超过一异常标准的所有锭子。</p>

<p>下方区段显示原因分析以及叙述的附加讯息。</p>

<p>&nbsp;</p>

<p><img src="OFFL_OnlineOfflimit.jpg"
		x-maintain-ratio=TRUE
		style="border: none;
				float: none;
				width: 600px;
				height: 475px;
				border-style: none;
				border-style: none;"
		width=600
		height=475
		border=0></p>

<h2><a HREF="OFFL_DLG_Offlimit-Ursachen.htm"><span style="x-text-underline: off;
															x-text-overline: off;
															x-text-line-through: off;
															/*begin!kadov{{*/ text-decoration: none none none; /*}}end!kadov*/ "><font 
 style="color: #000000;"
	color=#000000>Off-Limit reason 异常原因</font></span></a></h2>

<p>在异常原因字段敲击按钮，将原因派发到一异常状况。这异常的状况 &quot;profile 个别档案&quot;，就会以原因组合储存。</p>

<p>越常发生，这派发就会做得更准确，对 MillMaster 系统的以后基础工作分析，是数据越大越好。</p>

<p CLASS=Toplink><span style="font-style: italic;"><a HREF="#Top">Top</a></span></p>

<h2>Off-Limit Table 异常表格</h2>

<p>异常状况可能原因在这里有详细显示。目前锭子的数据，其生产组群的 <a HREF="OFFL_Mittelwert.htm">comparative 
 average 比较平均</a> 以及监看特性的 <a HREF="OFFL_Grenzwerte.htm">absolute and relative 
 limit values 绝对和相对异常值</a> ，都予以显示。</p>

<p>当一特性异常，该异常数值（相对 以及/或 绝对）会反白（红色）。</p>

<p CLASS=Toplink><span style="font-style: italic;"><a HREF="#Top">Top</a></span></p>

<h2>Off-Limit spread 异常分布 </h2>

<p>&nbsp;</p>

<p><img src="offl_offlimit-verteilung.jpg"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 600px;
				height: 141px;
				float: none;
				border-style: none;
				border-style: none;"
		width=600
		height=141
		border=0></p>

<p>&nbsp;</p>

<p>这长条图显示每一特性异常时间分布。当一特性异常时，相关长条会显示红色，否则为绿色。</p>

<h2>Off-Limit reason 异常原因</h2>

<p>这表格位于上方窗口，显示有异常问题的锭子清单。</p>

<p>&nbsp;</p>

<p>&quot;Frequency 频率&quot; ，显示到目前为止，个别发生异常的出现次数。</p>

<p><!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->&quot;Forecast% 
 预测%&quot; 行显示预测可能发生率。这数字越高， 就更接近目前异常状况以及所储存原因的概况。</p>

<p>&nbsp;</p>

<p CLASS=Toplink><span style="font-style: italic;"><a HREF="#Top">Top</a></span></p>

<h2>Functions 功能</h2>

<!--(Table)=========================================================-->
<table x-use-null-cells
		wrapperparagraphselector=P
		style="width: 100%;
				margin-top: 14pt;
				x-border-left: 1px table-solid;
				x-border-top: 1px table-solid;
				x-border-right: 1px table-solid;
				x-border-bottom: 1px table-solid;
				border-collapse: separate;
				border-spacing: 1px;
				x-border-left: 1px table-solid;
				x-border-top: 1px table-solid;
				x-border-right: 1px table-solid;
				x-border-bottom: 1px table-solid;
				border-collapse: separate;
				border-spacing: 1px;"
		cellspacing=1
		width=100%
		border=1>

<tr>
<td style="x-cell-content-align: TOP;
			width: 286px;
			padding-left: 2px;
			padding-top: 2px;
			padding-right: 2px;
			padding-bottom: 2px;"
	valign=top
	width=286px>
<p style="margin-bottom: 0;"><span style="font-weight: bold;">Element 组件 
 </span></td>
<td style="x-cell-content-align: TOP;
			width: 55%;
			padding-left: 2px;
			padding-top: 2px;
			padding-right: 2px;
			padding-bottom: 2px;"
	valign=top
	width=55%>
<p style="margin-bottom: 0;"><span style="font-weight: bold;">Function 
 功能 </span></td></tr>

<tr>
<td style="x-cell-content-align: TOP;
			width: 286px;
			padding-left: 2px;
			padding-top: 2px;
			padding-right: 2px;
			padding-bottom: 2px;"
	valign=top
	width=286px>
<p style="margin-bottom: 0;"><img src="../../Globale-Fenster-und-Funktionen/Button/bu_exit.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 25px;
											height: 25px;
											float: none;
											border-style: none;
											border-style: none;"
									width=25
									height=25
									border=0></td>
<td style="x-cell-content-align: TOP;
			width: 55%;
			padding-left: 2px;
			padding-top: 2px;
			padding-right: 2px;
			padding-bottom: 2px;"
	valign=top
	width=55%>
<p style="margin-bottom: 0;">关闭窗口</td></tr>

<tr>
<td style="x-cell-content-align: TOP;
			width: 286px;
			padding-left: 2px;
			padding-top: 2px;
			padding-right: 2px;
			padding-bottom: 2px;"
	valign=top
	width=286px>
<p style="margin-bottom: 0;"><img src="../../Globale-Fenster-und-Funktionen/Button/BU_Einstellungen.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 26px;
											height: 22px;
											float: none;
											border-style: none;
											border-style: none;"
									width=26
									height=22
									border=0></td>
<td style="x-cell-content-align: TOP;
			width: 55%;
			padding-left: 2px;
			padding-top: 2px;
			padding-right: 2px;
			padding-bottom: 2px;"
	valign=top
	width=55%>
<p style="margin-bottom: 0;">显示以及编辑异常设定，如果需要的话</td></tr>

<tr>
<td style="x-cell-content-align: TOP;
			width: 286px;
			padding-left: 2px;
			padding-top: 2px;
			padding-right: 2px;
			padding-bottom: 2px;"
	valign=top
	width=286px>
<p style="margin-bottom: 0;"><a HREF="OFFL_DLG_Online-Offlimit-Filter-bearbeiten.htm"><img 
 src="..\..\Globale-Fenster-und-Funktionen\Button\bu_filter.jpg"
	style="width: 23px;
			height: 22px;
			margin-top: 0px;
			margin-bottom: 0px;
			margin-left: 0px;
			margin-right: 0px;
			border-style: none;
			border-style: none;"
	width=23
	height=22
	border=0></a></td>
<td style="x-cell-content-align: TOP;
			width: 55%;
			padding-left: 2px;
			padding-top: 2px;
			padding-right: 2px;
			padding-bottom: 2px;"
	valign=top
	width=55%>
<p style="margin-bottom: 0;">为显示记录设定一过滤器。</td></tr>

<tr>
<td style="x-cell-content-align: TOP;
			width: 286px;
			padding-left: 2px;
			padding-top: 2px;
			padding-right: 2px;
			padding-bottom: 2px;"
	valign=top
	width=286px>
<p style="margin-bottom: 0;"><img src="..\..\Globale-Fenster-und-Funktionen\Button\bu_printer.jpg"
									style="width: 23px;
											height: 22px;
											margin-top: 0px;
											margin-bottom: 0px;
											margin-left: 0px;
											margin-right: 0px;
											border-style: none;
											border-style: none;"
									width=23
									height=22
									border=0></td>
<td style="x-cell-content-align: TOP;
			width: 55%;
			padding-left: 2px;
			padding-top: 2px;
			padding-right: 2px;
			padding-bottom: 2px;"
	valign=top
	width=55%>
<p style="margin-bottom: 0;">打印数据</td></tr>

<tr>
<td colspan=1
	rowspan=1
	style="x-cell-content-align: TOP;
			width: 286px;
			padding-left: 2px;
			padding-top: 2px;
			padding-right: 2px;
			padding-bottom: 2px;"
	valign=top
	width=286px>
<p style="margin-bottom: 0;"><img src="../../Globale-Fenster-und-Funktionen/Button/BU_Ursachen.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 22px;
											height: 22px;
											float: none;
											border-style: none;
											border-style: none;"
									width=22
									height=22
									border=0></td>
<td colspan=1
	rowspan=1
	style="x-cell-content-align: TOP;
			width: 55%;
			padding-left: 2px;
			padding-top: 2px;
			padding-right: 2px;
			padding-bottom: 2px;"
	valign=top
	width=55%>
<p style="margin-bottom: 0;">在这里新增异常原因 </td></tr>

<tr>
<td style="x-cell-content-align: TOP;
			width: 286px;
			padding-left: 2px;
			padding-top: 2px;
			padding-right: 2px;
			padding-bottom: 2px;"
	valign=top
	width=286px>
<p style="margin-bottom: 0;"><img src="../../Globale-Fenster-und-Funktionen/Button/BU_EditCal.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 27px;
											height: 22px;
											float: none;
											border-style: none;
											border-style: none;"
									width=27
									height=22
									border=0></td>
<td style="x-cell-content-align: TOP;
			width: 55%;
			padding-left: 2px;
			padding-top: 2px;
			padding-right: 2px;
			padding-bottom: 2px;"
	valign=top
	width=55%>
<p style="margin-bottom: 0;">编辑或新增异常原因</td></tr>

<tr>
<td colspan=1
	rowspan=1
	style="x-cell-content-align: TOP;
			width: 286px;
			padding-left: 2px;
			padding-top: 2px;
			padding-right: 2px;
			padding-bottom: 2px;"
	valign=top
	width=286px>
<p style="margin-bottom: 0;"><img src="../../Globale-Fenster-und-Funktionen/Button/BU_Definieren.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 25px;
											height: 23px;
											float: none;
											border-style: none;
											border-style: none;"
									width=25
									height=23
									border=0></td>
<td colspan=1
	rowspan=1
	style="x-cell-content-align: TOP;
			width: 55%;
			padding-left: 2px;
			padding-top: 2px;
			padding-right: 2px;
			padding-bottom: 2px;"
	valign=top
	width=55%>
<p style="margin-bottom: 0;">定义新增异常原因</td></tr>

<tr>
<td style="x-cell-content-align: TOP;
			width: 286px;
			padding-left: 2px;
			padding-top: 2px;
			padding-right: 2px;
			padding-bottom: 2px;"
	valign=top
	width=286px>
<p style="margin-bottom: 0;"><a HREF="..\..\Globale-Fenster-und-Funktionen\DLG_Tabelleneigenschaften.htm"><img 
 src="..\..\Globale-Fenster-und-Funktionen\Button\bu_settings.jpg"
	style="width: 24px;
			height: 22px;
			margin-top: 0px;
			margin-bottom: 0px;
			margin-left: 0px;
			margin-right: 0px;
			border-style: none;
			border-style: none;"
	width=24
	height=22
	border=0></a></td>
<td style="x-cell-content-align: TOP;
			width: 55%;
			padding-left: 2px;
			padding-top: 2px;
			padding-right: 2px;
			padding-bottom: 2px;"
	valign=top
	width=55%>
<p style="margin-bottom: 0;">编辑表格特性</td></tr>

<tr>
<td style="x-cell-content-align: TOP;
			width: 286px;
			padding-left: 2px;
			padding-top: 2px;
			padding-right: 2px;
			padding-bottom: 2px;"
	valign=top
	width=286px>
<p style="margin-bottom: 0;"><img src="..\..\globale-fenster-und-funktionen\button\bu_showhidewindowpart.jpg"
									style="width: 23px;
											height: 22px;
											margin-top: 0px;
											margin-bottom: 0px;
											margin-left: 0px;
											margin-right: 0px;
											border-style: none;
											border-style: none;"
									width=23
									height=22
									border=0></td>
<td style="x-cell-content-align: TOP;
			width: 55%;
			padding-left: 2px;
			padding-top: 2px;
			padding-right: 2px;
			padding-bottom: 2px;"
	valign=top
	width=55%>
<p style="margin-bottom: 0;">显示或隐藏下方讯息窗口</td></tr>

<tr>
<td style="x-cell-content-align: TOP;
			width: 286px;
			padding-left: 2px;
			padding-top: 2px;
			padding-right: 2px;
			padding-bottom: 2px;"
	valign=top
	width=286px>
<p style="margin-bottom: 0;">&nbsp;</td>
<td style="x-cell-content-align: TOP;
			width: 55%;
			padding-left: 2px;
			padding-top: 2px;
			padding-right: 2px;
			padding-bottom: 2px;"
	valign=top
	width=55%>
<p style="margin-bottom: 0;">以鼠标左键敲击行标头， 将这行数据以递增方式排序。再次敲击同一行，以相反方式排序。</td></tr>

<tr>
<td style="x-cell-content-align: TOP;
			width: 286px;
			padding-left: 2px;
			padding-top: 2px;
			padding-right: 2px;
			padding-bottom: 2px;"
	valign=top
	width=286px>
<p style="margin-bottom: 0;"><img src="../../Globale-Fenster-und-Funktionen/GV_Profile.jpg"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 171px;
											height: 117px;
											float: none;
											border-style: none;
											border-style: none;"
									width=171
									height=117
									border=0></td>
<td style="x-cell-content-align: TOP;
			width: 55%;
			padding-left: 2px;
			padding-top: 2px;
			padding-right: 2px;
			padding-bottom: 2px;"
	valign=top
	width=55%>
<p style="margin-bottom: 0;">以鼠标右键敲击图表，会有一弹出选单，可以执行 <a HREF="..\..\Globale-Fenster-und-Funktionen\DLG_Profile-bearbeiten.htm">editing 
 of the profiles 编辑个别档案</a>。</td></tr>
</table>

</body>

</html>
